.custom-tooltip {
  background-color: white;
  padding: 0 5px;
  border: 1px solid #e1e8ed;
  border-radius: 5px;
  text-align: left;
  font-size: small;
}

.additional-data {
  border-top-style: solid;
  border-width: 1px;
  border-color: #e1e8ed;
  color: #a1aeb8;
}

.p2p {
  color: #12a5ed;
}

.cdn {
  color: #c42151;
}

.tooltip-label {
  color: #a1aeb8;
}
