.custom-tooltip {
    background-color: white;
    padding: 0 5px;
    border: 1px solid #e1e8ed;
    border-radius: 5px;
    text-align: left;
    font-size: small;
  }

  .viewers {
    color: #DDA02A;
  }

  .tooltip-label {
    color: #a1aeb8;
  }
  